sphinx==3.5.4
sphinx_rtd_theme==0.5.2
docutils==0.16
nbsphinx==0.8.4
distributed
dask[complete]
click==7.1.2
geopandas==0.8.2
descartes==1.1.0
rtree==0.9.7
Fiona==1.8.18
folium==0.12.1
geojson==2.5.0
haversine==2.3.0
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.2
joblib==1.0.0
jupyter==1.0.0
matplotlib==3.3.3
notebook==6.1.6
pandocfilters==1.4.3
pyarrow==3.0.0
scikit-learn==0.24.0
scikit-mobility==1.1.2
scipy==1.6.0
seaborn==0.11.1
contextily
