ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
notebook
sphinx
sphinx_rtd_theme
docutils
nbsphinx
jinja2
distributed
dask[complete]
click
geopandas
descartes
rtree
Fiona
folium
geojson
haversine
joblib
matplotlib
pyarrow
scikit-learn
scikit-mobility
scipy
seaborn
contextily
