sphinx==3.5.4
sphinx_rtd_theme==0.5.2
docutils==0.16
nbsphinx==0.8.6
jinja2
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
notebook
distributed
dask[complete]
click
geopandas
descartes
rtree
Fiona
folium
geojson
haversine
joblib
matplotlib
pyarrow
scikit-learn
scikit-mobility
scipy
seaborn
contextily
